/* mimics simple-toolbar-layout but allows dropdowns */
.brackets-cardboard-toolbar-layout {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    overflow: visible; /* show dropdowns */
}

.brackets-cardboard-search {
    margin: 0 3px 0 3px;
}

.brackets-cardboard-bug {
    position: absolute;
    top: 50%;
    margin-top: -1em;
    right: 25px; 
}

td:nth-child(1) {
    width: 20%;
}

td:nth-child(2) {
    width: 40%;
}

td:nth-child(3) {
    width: 10%;
}

td:nth-child(4) {
    width: 10%;
}

td:nth-child(5) {
    width: 10%;
}

td:nth-child(6) {
    width: 10%;
    right: 0;
}

.brackets-cardboard-result-installed {
    border-left-color: #78b2f2;
    border-left-style: solid;
    border-left-width: 4px;
}

.brackets-cardboard-result-update {
    border-left-color: #e3b551;
    border-left-style: solid;
    border-left-width: 4px;
}

.brackets-cardboard-result-error {
    border-left-color: #f74687;
    border-left-style: solid;
    border-left-width: 4px;
}



/* Toolbar icon */
.brackets-cardboard-icon {
    background-image: url(brackets-cardboard.svg);
    background-size: 24px 24px;
}

.brackets-cardboard-icon.active {
    background-image: url(brackets-cardboard-open.svg);
    background-size: 24px 24px;
}
